{% extends "AsmMarkdownContentBundle::layout.html.twig" %}

{% block language %}{{ language }}{% endblock %}
{% block meta %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ data.meta.description }}">
    <meta name="author" content="{{ data.meta.author }}">
{% endblock %}
{% block head %}{% endblock %}

{% block title %}
    {{ data.meta.title }}
{% endblock %}

{% block body %}
    <div class="container">
        {{ content|raw }}
    </div>
{% endblock %}
