{% extends "AsmMarkdownContentBundle::layout.html.twig" %}

{% block language %}{{ language }}{% endblock %}
{% block meta %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ data.description }}">
    <meta name="author" content="{{ data.author }}">
    <meta name="keywords" content="{{ data.keywords }}">
{% endblock %}
{% block head %}{% endblock %}

{% block title %}
    {{ data.title }}
{% endblock %}

{% block body %}
    {% spaceless %}
    <div class="container">
        {{ content|raw }}
    </div>
    {% endspaceless %}
{% endblock %}
